.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;

}

.search-bar button{
    font-size: medium;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background: #ebfffc;
    outline: none;
    cursor: pointer;

}

.weather-icon{
    width: 120px;
    margin: 30px 0;
}
.temperature{
    color: #fff;
    font-size: 60px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;

}

.weathers-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.weathers-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}

.weathers-data .col span{
    display: block;
    font-size: 18px;
    color: #ebfffc;
}

.weathers-data .col img{
    width: 30px;
    margin-top: 5px;
}
